* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  font-size:1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
  background-image: repeating-linear-gradienT(45deg, #69b7eb 0, #69b7eb 10px, #b3dbd3 20px, #b3dbd3 10px, #f4d6db 10px, #f4d6db 30px);
  background-image: repeating-linear-gradienT(45deg, #69b7eb 0%, #69b7eb 10%, #b3dbd3 10%, #b3dbd3 20%, #f4d6db 20%, #f4d6db 30%);
  min-height: 100vh;
  height: 100%;
  }
