.ToDoList {
    margin: 4rem auto;
    padding: 2rem 3 rem 3rem;
    max-width: 500px;
    background-color: #ff6666;
    color: #fff;
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);

}

.ToDoList ul {
    margin-top: 2.6rem;
    list-style: none;
}

.ToDoList h1 {
    font-weight: normal;
    font-size:2.6rem;
    letter-spacing: 0.0rm;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ToDoList button {
    border: none;
    font-size: 1em;
    margin: 0.4em;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: #fff;
}
